<div class="page-header">
  <div class="logo-container">
    <a routerLink="/">
      <img src="assets/images/coffee-cup.svg" alt="coffee-cup-logo">
    </a>
  </div>
  <div class="menu-container">
    <a class="app-button primary" routerLink="/shop">SHOP</a>
    <a class="app-button secondary" *ngIf="!(isLoggedin | async)" routerLink="/login">LOGIN</a>
    <div class="app-button secondary" *ngIf="(isLoggedin | async)" (click)="authService.logout()">LOGOUT</div>
    <a class="cart-button" routerLink="/cart">
      CART [ <span class="cart-button-counter">{{cartCounter | async}}</span> ]
    </a>
  </div>
</div>
