<div class="page-header">
  <div class="logo-container">
    <a routerLink="/">
      <img src="assets/images/coffee-cup.svg" alt="coffee-cup-logo">
    </a>
  </div>
  <div class="menu-container">
    <a class="app-button primary" routerLink="/shop">SHOP</a>
    <div class="app-button secondary" (click)="logAction()">{{isNotLoggedIn ? 'LOGIN' : 'LOGOUT'}}</div>
    <a class="cart-button" routerLink="/cart">
      CART [ <span class="cart-button-counter">{{cartCounter | async}}</span> ]
    </a>
  </div>
</div>
