.page-header {
  height: 70px;
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-bg-color);

  .menu-container {
    display: flex;

    .cart-button {
      display: block;
      text-align: center;
      text-decoration: none;
      padding: 7px 7px 5px;
      margin: 0 3px;
      color: var(--light);

      &-counter {
        font-family: 'Roboto Bold', Arial, sans-serif;
        color: var(--highlight-color);
      }
    }

    .cart-button:hover {
      cursor: pointer;
    }
  }
}
