<div class="checkout-page">
  <!-- TODO: don't show navigation when checkout success -->
  <div class="checkout-page-navigation">
    <a routerLink="/checkout">Shipping Info</a>
    <div>></div>
    <a 
      [routerLink]="disableSummary ? null : [orderId, 'summary']" 
      [ngClass]="{'disable-link' : disableSummary}">
      Summary
    </a>
    <div>></div>
    <a 
      [routerLink]="disablePayment ? null : [orderId, 'payment']" 
      [ngClass]="{'disable-link' : disablePayment}">
      Payment
    </a>
  </div>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
