.checkout-page {
  background-color: var(--main-bg-color);
  color: var(--secondary-text-color);
  min-height: 100vh;

  &-path {
    max-width: 400px;
    padding: 20px 30px;
    display: flex;
    gap: 5%;
    font-size: 14px;

    .active {
      font-family: 'Roboto Bold', Arial, sans-serif;
    }
  }
}
