.checkout-page {
  background-color: var(--main-bg-color);
  color: var(--secondary-text-color);
  min-height: 100vh;

  &-navigation {
    max-width: 400px;
    padding: 20px 30px;
    display: flex;
    gap: 5%;
    font-size: 14px;

    a {
      color: var(--secondary-text-color);
      text-decoration: none;

      &.disable-link {
        color: grey;
        cursor: text;
        pointer-events: none;
        text-decoration: none;
      }
    }
  }
}
