.news-card {
  margin: 10px;
  text-align: center;
  width: 400px;
  border-radius: 5px; 
  box-shadow: 7px 7px 20px 4px rgba(76, 87, 113,0.5);

  &-content {
    display: block;
    overflow-y: scroll;
    height: 150px;
    color: #CCD6F6;
    background-color: var(--light);
    color: var(--main-text-color);
    border-radius: 5px 5px 0 0;
    padding: 20px 25px;
  }

  &-title {
    padding: 24px;
    background-color:  var(--secondary-bg-color);
    color: var(--secondary-text-color);
    border-radius: 0 0 5px 5px;
  }
}
