<div class="checkout-container">
  <div class="checkout-title">Shipping Info</div>
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="checkout-form">
    <div class="checkout-form-input country">
      <select formControlName="country">
        <option value="" disabled>Country*</option>
        <option *ngFor="let country of countryList" [ngValue]="country.id">
          {{country.name}}
        </option>
      </select>
      <span 
        *ngIf="checkoutForm.get('country')?.dirty || checkoutForm.get('country')?.touched"
        class="error-msg">
        <span *ngIf="checkoutForm.get('country')?.hasError('required')">This field is required</span>
      </span>
    </div>
    <div class="checkout-form-input firstname">
      <input 
        type="text"
        name="firstname"
        formControlName="firstname"
        placeholder="First name (optional)" 
      />
    </div>
    <div class="checkout-form-input lastname">
      <input
        type="text"
        name="lastname"
        formControlName="lastname"
        placeholder="Last name*"
        required
      />
      <span 
        *ngIf="checkoutForm.get('lastname')?.dirty || checkoutForm.get('lastname')?.touched"
        class="error-msg">
        <span *ngIf="checkoutForm.get('lastname')?.hasError('required')">This field is required</span>
      </span>
    </div>
    <div class="checkout-form-input address">
      <input
        type="text"
        name="address"
        formControlName="address"
        placeholder="Address*"
        required
      />
      <span 
        *ngIf="checkoutForm.get('address')?.dirty || checkoutForm.get('address')?.touched"
        class="error-msg">
        <span *ngIf="checkoutForm.get('address')?.hasError('required')">This field is required</span>
      </span>
    </div>
    <div class="checkout-form-input additional">
      <input
        type="text"
        name="additional"
        formControlName="additional"
        placeholder="Apartment, suite, etc. (optional)"
      />
    </div>
    <div class="checkout-form-input city">
      <input
        type="text"
        name="city"
        formControlName="city"
        placeholder="City*"
        required 
      />
      <span 
        *ngIf="checkoutForm.get('city')?.dirty || checkoutForm.get('city')?.touched"
        class="error-msg">
        <span *ngIf="checkoutForm.get('city')?.hasError('required')">This field is required</span>
      </span>
    </div>
    <div class="checkout-form-input zip">
      <input
        type="text"
        name="zip"
        formControlName="zip"
        placeholder="ZIP code*"
        required
      />
      <span 
        *ngIf="checkoutForm.get('zip')?.dirty || checkoutForm.get('zip')?.touched"
        class="error-msg">
        <span *ngIf="checkoutForm.get('zip')?.hasError('required')">This field is required</span>
      </span>
    </div>
    <div class="checkout-form-input phone">
      <input
        type="tel"
        name="phone"
        formControlName="phone"
        placeholder="Phone*"
        required
      />
      <span 
        *ngIf="checkoutForm.get('phone')?.dirty || checkoutForm.get('phone')?.touched"
        class="error-msg">
        <span *ngIf="checkoutForm.get('phone')?.hasError('required')">This field is required</span>
      </span>
    </div>
    <button class="checkout-form-button app-button primary" type="submit">{{'Continue' | uppercase}}</button>
  </form>
</div>
