<div class="login-page">
  <div class="login-card">
    <div class="login-card-container">
      <div class="login-card-title">Login</div>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="login-form-input email">
          <ng-icon name="matEmail"></ng-icon>
          <input
            type="email"
            name="email"
            formControlName="email"
            placeholder="Email*"
            required
          />
        </div>
        <span 
          *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)"
          class="error-msg">
          <span *ngIf="loginForm.get('email')?.hasError('required')">Email is required</span>
          <span *ngIf="loginForm.get('email')?.hasError('email')">Please provide a valid email</span>
        </span>
        <div class="login-form-input password">
          <ng-icon name="matLock"></ng-icon>
          <input 
            type="password"
            name="password"
            formControlName="password"
            placeholder="Password*"
            required
          />
        </div>
        <span 
          *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)"
          class="error-msg">
          <span *ngIf="loginForm.get('password')?.hasError('required')">Password is required</span>
        </span>
        <button class="login-form-btn submit-button" type="submit">Sign in</button>
      </form>
      <app-alert 
        *ngIf="errorMessage"
        [message]="errorMessage"
        (close)="onHandleError()"
      ></app-alert>
    </div>
  </div>
  <p>Not a member yet? <a class="register-link" routerLink="/register">Create an account</a></p>
</div>
