<div class="cart-page">
  <h1 class="cart-page-title">Your cart</h1>
  <div class="cart-page-details flex-wrapper around" *ngIf="(cartItemList$ | async)?.length; else EmptyCart">
    <div class="cart-page-content">
      <a class="shop-link" routerLink="/shop"><span><ng-icon name="matArrowBackIos"></ng-icon></span>Continue shopping</a>
      <table class="shopping-cart-table">
        <tbody class="cart-item" *ngFor="let cartItem of (cartItemList$ | async)">
          <tr class="item-info">
            <td class="col image">
              <a [routerLink]="['../product', cartItem.product.id]">
                <div class="img-container">
                  <img class="product-img" src="{{imgBasePath}}{{cartItem.product.image_path}}" alt="{{cartItem.product.image_path}}">
                </div>
              </a>
            </td>
            <td class="col quantity">
              <div class="quantity-container">
                <div class="btn-modify" (click)="deleteOneProduct(cartItem.product)"><ng-icon name="matRemove"></ng-icon></div>
                <div class="quantity-number">{{cartItem.quantity}}</div>
                <div class="btn-modify" (click)="addOneProduct(cartItem.product.id)"><ng-icon name="matAdd"></ng-icon></div>
              </div>
            </td>
            <td class="col item">
              <a class="item-name" [routerLink]="['../product', cartItem.product.id]">
                {{cartItem.product.name | titlecase}}
              </a>
              <div class="item-price">{{cartItem.product.price | currency}}</div>
            </td>
            <td class="col subtotal">
              <div>{{cartItem.totalPrice | currency}}</div>
            </td>
            <td class="col btn">
              <div class="remove-item-btn" (click)="deleteAllProducts(cartItem.product)">
                <ng-icon class="remove-icon-size" name="matClose"></ng-icon>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="empty-btn app-button secondary" (click)="emptyCart()">Empty the cart</div>
    </div>
    <div class="cart-page-summary flex-wrapper column between">
      <h2 class="summary-title">Order</h2>
      <div class="total-sum flex-wrapper between">
        <div>Total</div>
        <div>{{totalSum$ | async | currency}}</div>
      </div>
      <!-- TODO: to order-summary page -->
      <div class="discount-wrapper flex-wrapper between">
        <div>Discount code or gift card</div>
        <input type="text">
      </div>
      <a class="app-button primary" *ngIf="!(isLoggedin | async)" routerLink="/login">LOGIN TO ORDER</a>
      <a class="app-button primary" *ngIf="(isLoggedin | async)" routerLink="/checkout">ORDER</a>
    </div>
  </div>
  <ng-template #EmptyCart>
    <div class="cart-page-empty-cart">
      <a class="shop-link" routerLink="/shop"> <span><ng-icon name="matArrowBackIos"></ng-icon></span> Continue shopping</a>
      <div class="cart-page-empty-cart-text">Your cart is empty.</div>
    </div>
  </ng-template>
</div>
